@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Work+Sans:wght@600;800&display=swap');

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 0;
  margin: 0;
}